@import url('./styles/header.css');
@import url('./styles/RESET.css');
@import url('./styles/banner.css');
@import url('./styles/swiper.css');
@import url('./styles/card.css');
@import url('./styles/topico.css');
@import url('./styles/contato.css');
@import url('./styles/footer.css');

:root{
    --branco-principal: rgb(255, 255, 255);
    --cor-de-fundo: #ffffff;
    --laranja-item: #EB9B00;
    --cor-link-preto: black;
    --cor-cinza: #cccccc;
    --cor-cinza-medio: #858585;
    --cor-link-azul: #002F52;
    --azul-item: #002F52;
    --preto-item: #000000;
    --azul-gradiente: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,11,72,1) 50%, rgba(255,255,255,1) 100%);
    --cinza-gradiente: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(179, 179, 179) 50%, rgba(255,255,255,1) 100%);
    --cor-azul-banner: linear-gradient(158deg, rgba(0,107,155,1) 0%, rgba(0,26,59,1) 100%);
    --cor-azul-claro: #7AEAE3;

    --box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.35);
    --box-shadow-inset: 2px 4px 4px 2px rgba(0, 0, 0, 0.25) inset;

    --fonte-principal: 'Outfit', sans-serif;
}

.cordefundo{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}